.website__heading-link{
  margin: 0;
  padding: 0;
  width: 456px;
  height: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #aaa;
}

@media screen and (max-width: 768px){
  .website__heading-link{
    margin: 0;
    padding: 0;
    width: 352px;
    height: 12px;
  }
}

@media screen and (max-width: 320px){
  .website__heading-link{
    width: 288px;
  }
}