.page{
  margin: 0;
  background-color: #2A2C2F;
}

@media screen and (min-width: 1281px){
  .page{
    margin: auto;
    width: 100%;
  }

}

@media (min-width: 1024px) and (max-width: 1279px){
  .page{
   max-width: 1024px;
  } 
 }

 @media (min-width: 768px) and (max-width: 1023px){
  .page{
    margin: auto;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .page{
    margin: auto;
    width: 100%;
   } 
}