.intro__lists{
  padding: 0;
  margin-left: 148px;
  margin-top: 33px;
  width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style-type: none;
}

@media screen and (min-width: 1281px){
  .intro__lists{
    margin-left: 0; 
  }  
}

@media screen and (max-width: 1279px){
  .intro__lists{
    margin-left: 0;
  }
 }

 @media screen and (max-width: 1023px){
  .intro__lists{
    width: 720px;
  }
}

@media screen and (max-width: 767px){
  .intro__lists{
    margin-top: 34px;
    width: 288px;
  }
}
