.grid-container{
  margin-top: 92px;
  width: 100%;
  min-height: 671px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px){
  .grid-container{
   grid-template-columns: repeat(3, 1fr) ;
   grid-template-rows: repeat(4, 1fr);
   gap: 14px;
  }
 }

@media screen and (max-width: 768px){
  .grid-container{
    margin-top: 88px;
    width: 100%;
    min-height: 1664px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 320px){
  .grid-container{
    margin-top: 64px;
    width: 100%;
    min-height: 2724px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 12px;
  }
}

