.section-title_one-word{
  width: 460px;
  height: 76px;
}

@media (min-width: 1024px) and (max-width: 1279px){
  .section-title_one-word{
    width: 440px;
  }
} 

@media (min-width: 768px) and (max-width: 1023px){
  .section-title_one-word{
    width: 460px;
    height: 46px;
  }
}

@media screen and (max-width: 767px){
  .section-title_one-word{
    height: 35px;
    width: 288px;
  }
}