.section-title_one-word{
  width: 460px;
  height: 76px;
}

@media screen and (max-width: 1024px){
  .section-title_one-word{
    width: 440px;
  }
} 

@media screen and (max-width: 768px){
  .section-title_one-word{
    width: 460px;
    height: 46px;
  }
}

@media screen and (max-width: 320px){
  .section-title_one-word{
    height: 35px;
    width: 288px;
  }
}