.header{
  margin: 0 auto;
  max-width: calc(100% - 96px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

@media screen and (min-width: 1281px){
  .header{
    max-width: calc(1280px - 96px);
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .header{
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px){
  .header{
    padding-top: 16px;
    max-width: calc(100% - 32px);
  }   
}
