.place__heading-link{
  margin: 0;
  padding: 0;
  width: 456px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #aaa;
}

@media (min-width: 768px) and (max-width: 1023px){
  .place__heading-link{
    width: 352px;
  }
}

@media screen and (max-width: 767px){
  .place__heading-link{
    width: 288px;
  }
}