.footer__links{
  margin: 0;
  justify-content: start;  
}

@media (min-width: 320px) and (max-width: 767px){
  .footer__links{
    margin: 0;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  }
