.footer__copyright{
  margin: 0;
  padding: 0;
  min-width: 130px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  justify-content: end;
  color: #fff;
}

@media screen and (max-width: 767px){
  .footer__copyright{
    margin-top: 48px;
    min-width: 186px;
    line-height: 1;
  }
}