.website{
  width: 460x;
  height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
}

@media screen and (max-width: 768px){
  .website{
    max-width: 352px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
  }
}

@media screen and (max-width: 320px){
  .website{
    margin: auto;
    height: 46px;
    width: 288px;
    gap: 12px;
  }
  }
  