.place__link{
  margin: 0;
  min-height: 22px;
  width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration:underline;
  color: #fff;
}

.place__link:hover{
  opacity: 0.8;
}

@media (min-width: 768px) and (max-width: 1023px){
  .place__link{
    width: 352px;
  }
}

@media screen and (max-width: 767px){
  .place__link{
    width: 288px;
  }
  }

