.two-columns__paragraph{
  margin: 0;
  padding: 0;
  align-content: flex-start;
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #fff;
}

@media screen and (max-width: 1024px){
  .two-columns__paragraph{
    max-width: 456px;
  }
}

@media screen and (max-width: 768px){
  .two-columns__paragraph{
    max-width: 352px;
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 320px){
  .two-columns__paragraph{
    margin: auto;
    max-width: 288px;
    font-size: 16px;
  }
}