.overlay____title{
  margin: 0;
  height: 152px;
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fff;
  z-index: 2;
}

@media screen and (max-width: 320px){
  .overlay__title{ 
    width: 288px;
    height: 70px;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
  }
  }
  