.website__link{
  margin: 0;
  min-height: 22px;
  width: 456px;
  font-family: 'Inter Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration:underline;
  color: #fff;
}

@media (min-width: 1024px) and (max-width: 1279px){
  .website__link:hover{
  opacity: 0.8;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .website__link{
    margin: 0;
    min-height: 22px;
    width: 352px;
  }
}

@media screen and (max-width: 767px){
  .website__link{
    width: 288px;
  }
  }

  @media screen and (min-width: 1023px){
    .website__link:hover{
    opacity: 0.8;
    }
  }