.place{
  margin: auto;
  max-width: 100%;
  margin-top: 80px;
}

@media (min-width: 768px) and (max-width: 1023px){
  .place{
    margin-top: 73px;
  }
}


@media screen and (max-width: 767px){
  .place{
    margin-top: 32px;
  }
}