.website_one-word{
  height: 76px;
}

@media screen and (max-width: 768px){
  .website_one-word{
    height: 46px;
  }
}

@media screen and (max-width: 320px){
  .website_one-word{
    height: 46px;
  }
}